{% extends 'base.html' %}
{% set active_page = state %} <!-- create new variable for nav bar active class -->
{% block head %}<title>AT Jindo - {{state}}</title>{% endblock %}
{% block content %}

<!-- state navbar -->
      <div class="navbar">
        <div class="navbar-inner">         
          {% set navigation_bar = [
              ('/XX', 'XX', 'Prep'),
              ('/ME', 'ME', 'Maine'),
              ('/NH', 'NH', 'NH'),
              ('/VT','VT','VT'),
              ('/MA','MA','MA'),
              ('/CT','CT','CT'),
              ('/NY','NY','NY'),
              ('/NJ','NJ','NJ'),
              ('/PA','PA','PA'),
              ('/MD','MD','MD'),
              ('/WV','WV','WV'),
              ('/VA','VA','VA'),
              ('/TN','TN','TN'),
              ('/NC','NC','NC'),
              ('/GA','GA','Georgia'),
          ] %}

          {% set active_page = active_page|default('/') %}
          
          <ul class="nav">           
            {% for href, id, caption in navigation_bar %}
              <li{% if id == active_page %} class="active"{% endif
              %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

  <div class="row-fluid">
     <!-- blog column -->  
    <div class="span8">
   
     {% if count == 0 %}
      <div class="well"><p>Sorry, no posts in this state yet.</p></div>
     {% endif %}
   
      {% for p in posts %}
      <div class="well">
          {{ p.render() | safe }}          
      </div>
      {% endfor %}          
    </div>
     
    <!-- side column --> 
    <div class="span4">
      <div class="well">
        <img src="/img/appalachian-trail-map.jpg" alt=""> 
      </div>
          <div class="well">
            <h4>Online Resources</h4>         
              <p><a href="http://www.appalachiantrail.org/hiking/hiking-basics" target="_blank">AT Conservancy</a>:  Good hiking basics.</p>
              <p><a href="http://www.youtube.com/user/Biophthera" target="_blank">Biophthera</a>:  Great backpacking tips and gear reviews. </p>
              <p><a href="http://www.atraillife.com/index.html" target="_blank">Atraillife</a>:  Great blog posts on long-distance hiking with a dog.</p>
              <p><a href="http://www.hikelight.com" target="_blank">HikeLight</a>:  Great tips to ligthen your load.</p>
         </div>              
    </div>        
  </div>     
{% endblock %}   


