
{% extends 'base.html' %}
{% block head %}<title>AT Jindo - Data</title>{% endblock %}
{% block content %}
<br>

<div class="row-fluid">
	<div class="span8 offset2 well">     
		<h4>Southbound with a dog: 149 day on the Appalachian Trail</h4>
		<p>Highlights:</p>
		<ul>
			<li>Longest mileage day: 30.9 miles in southern Virginia.  </li>
			<li>Highest weekly miles per day (mpd): 23.7 miles in northern Tennessee.</li>
			<li>Fourth month was our strongest hiking month: full days of hiking (from to dusk to dawn) or night-hiking. </li>
			<li>15 zero days: 2 in New England, 6 back at home in Virginia, and 7 towards the end of our hike, where we didn't want it to end.</li>
		</ul>       
     </div>  
</div>        

<div class="row-fluid">
	<div class="span8 offset2 well">   
	<h4>2013 Hiker Counts and Success Rate</h4> 
	<p>	Data as of November 20, 2013. I expect more thru-hikers to register their completions soon.</p> 
        <a href="https://www.dropbox.com/s/zvy2nsv4r26yvxf/Hiker_Counts.JPG?dl=1"><img src="https://www.dropbox.com/s/zvy2nsv4r26yvxf/Hiker_Counts.JPG?dl=1" alt=""></a>
     </div>  
</div>   

<div class="row-fluid">
	<div class="span8 offset2 well">   
	<h4>Daily Mileage</h4>  
        <a href="https://www.dropbox.com/s/grjrqpjpkpnvf5r/data1.JPG?dl=1"><img src="https://www.dropbox.com/s/grjrqpjpkpnvf5r/data1.JPG?dl=1" alt=""></a>
     </div>  
</div>         


<div class="row-fluid">
	<div class="span8 offset2 well">   
	<h4>Mileage by Month</h4>  
        <a href="https://www.dropbox.com/s/gcl6fgqn2wgphvl/data3.JPG?dl=1"><img src="https://www.dropbox.com/s/gcl6fgqn2wgphvl/data3.JPG?dl=1" alt=""></a>
     </div>  
</div>      

<div class="row-fluid">
	<div class="span8 offset2 well">     
	<h4>Distribution of Miles per Day</h4>
        <a href="https://www.dropbox.com/s/u9hdudbje2l3x3u/data2.JPG?dl=1"><img src="https://www.dropbox.com/s/u9hdudbje2l3x3u/data2.JPG?dl=1" alt=""></a>
     </div>  
</div>      

<div class="row-fluid">
	<div class="span8 offset2 well">  
	<h4>Miles by State</h4>   
        <a href="https://www.dropbox.com/s/n8vumnpet5se3nx/ATstats.JPG?dl=1"><img src="https://www.dropbox.com/s/n8vumnpet5se3nx/ATstats.JPG?dl=1" alt=""></a>
     </div>  
</div>      


{% endblock %}