<!--FAQs -->

{% extends 'base.html' %}
{% block head %}<title>AT Jindo - FAQs</title>{% endblock %}
{% block content %}
<br>
<div class="row-fluid">
  <div class="span6 offset3 well">

    <div class="accordion" id="accordion2">
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            1. Why are you hiking the Appalachian Trail?
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
           <p> There are many reasons I'm attempting to thru-hike the AT.  I plan to give a thorough answer after my trip.  For now, here's some food for thought:</p>
            <blockquote>Go after your life.  Don't wait.  The best advice I ever got was from a woman on her 100th birthday party.  We said 'Speech, speech! Give us some words of wisdom.'  She said I've got three words for you: 'Do it now!' <small> <cite>Dr. Doug McGuff</cite></small></blockquote>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          2. How many people hike the Appalachian Trail?
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
           2-3 Million people visit the trail, but only 1,800-2000 attempt a thru-hike.  A thru-hike is hiking the entire 2,180 miles in one trip.  Most thru-hikers begin in Georgia, but I will travel south-bound in the opposite direction.  Approximately 1 in 4 thru-hikers complete the entire trail.
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
           3. How long does it take to thru-hike the Appalachian Trail?
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>I've heard the faster hikers  walk the entire Appalachian Trail in 100 days. That would be 20+ miles per day without any rest days!  Since I'm bringing Nara, I'm not going to push for such an aggressive pace.  Most successful thru-hikers generally complete their hike in 5-7 months.</p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
           4. What will you eat?
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>I'm not sure what I'll be eating later, but my starting menu will look something like this:</p>
            <p><b>Breakfast:</b> oatmeal, dried berries, poptarts, coffee</p>
            <p><b>Lunch:</b> beef jerky, dried fruit, dried squid, candy bars, cheese, chocolate</p>
            <p><b>Dinner:</b> chicken or tuna, mashed potatoes, pasta side or quinoa all mixed together</p>
   
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
          5. Where will you stay?
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Most days I will be sleeping in a 2-person tent with Nara.  The Appalachian trail has a network of 3-sided shelters spread out about every 10 miles, which are first come first serve.  Shelters are built and maintained by trail clubs in every State, so a big thank you to all the volunteers.  If vacant or not crowded, I will stay at shelters. I'm going to try and limit my time in towns, but every few weeks, I will likely be staying in motels/hostels from time to time to wash up, recuperate, and to take a break from the woods.</p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
           6. How is Nara doing on the trail?
          </a>
        </div>
        <div id="collapseSix" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Nara does well on weekend hikes, so I'll try to give an update after a few weeks on the trail. </p>
            <b>Update (8/27/2003):</b> <br>
            <p>
              During our first week up in Maine, she was not eating well, and lost a lot of weight.  When we reached Monson, ME, just outside of the 100 mile wilderness, many hikers said she looked pretty bad (way too skinny).  But after reaching Harper's Ferry, WV, I'm happy to report that Nara has regained weight ( more muscle) and is doing well on the trail.  Her paws are also doing well after hiking passed Pennsylvania's notorious rocks.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
           7. How did you get to Maine?
          </a>
        </div>
        <div id="collapseSeven" class="accordion-body collapse">
          <div class="accordion-inner">
            I rented a one-way car from Virginia to Maine.  The car company has a pet-freindly policy.  Buses don't allow dogs, and if I flew, Nara would have to ride in cargo, so the car rental seemed like the best option at the time.
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
           8. Why south-bound?
          </a>
        </div>
        <div id="collapseEight" class="accordion-body collapse">
          <div class="accordion-inner">
            Three main reasons: 
            <div>
              <ul>
                <li>Maine and New Hampshire are the hardest states, and I didn't want to worry about how Nara would do in those sections for the first few months.  I wanted to see if we could hike the hardest sections at the beginning, as opposed to having anxiety about it for most of the hike.</li>
                <li>I felt impatient and wanted to experience the wilderness of Maine.</li>
                <li>My lease ended May 31, which set us up better for a south-bound attempt.</li>
              </ul>
          
            </div> 
            
           
            </div>
          </div>
        </div>
    

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
           9. How did you learn to program?
          </a>
        </div>
        <div id="collapseNine" class="accordion-body collapse">
          <div class="accordion-inner">
            I took courses at <a href="https://www.udacity.com/" target="_blank">udacity</a>.


          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
           10. How do I get started backpacking?
          </a>
        </div>
        <div id="collapseTen" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Not everyone needs to thru-hike to enjoy backpacking.  I personally prefer week-long hikes the best.  Best thing to do is start gradually and just get out there.  Start with a day hike.  When you feel comfortable,  go for an overnighter with a friend or family member. Next step would be a multi-day hike.  You will learn as you go.  To get started, here are some good links: </p>
            <ul>
              <li><a href="http://www.appalachiantrail.org/hiking/hiking-basics" target="_blank">AT Conservancy</a>:  Good hiking basics.</li>
              <li><a href="http://www.youtube.com/user/Biophthera" target="_blank">Biophthera</a>:  Great backpacking tips and gear reviews. </li>
              <li><a href="http://www.atraillife.com/index.html" target="_blank">Atraillife</a>:  Great blog posts on long-distance hiking with a dog.</li>
              <li><a href="http://www.hikelight.com" target="_blank">HikeLight</a>:  Great tips to ligthen your load.</li>              
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}