<!-- Gear -- >

{% extends 'base.html' %}
{% block head %}<title>AT Jindo - Gear</title>{% endblock %}
{% block content %}
 
<body data-spy="scroll" data-target=".bs-docs-sidebar">
		
<div  class="row-fluid">
<div class="span2 offset1 bs-docs-sidebar">
		<!--side nav lists -->
		<ul class="nav nav-list bs-docs-sidenav affix">	
		  <li><a href="#Summary"><i class="icon-chevron-right"></i>Summary</a></li>	
		  <li><a href="#Backpack"><i class="icon-chevron-right"></i>Backpack</a></li>	
		  <li><a href="#SleepingGear"><i class="icon-chevron-right"></i>SleepingGear</a></li>
		  <li><a href="#Shelter"><i class="icon-chevron-right"></i>Shelters</a></li>
		  <li><a href="#Clothing"><i class="icon-chevron-right"></i>Clothing</a></li>
		  <li><a href="#Food"><i class="icon-chevron-right"></i>Food</a></li>
		  <li><a href="#Shoes"><i class="icon-chevron-right"></i>Shoes</a></li>
		  <li><a href="#Accessories"><i class="icon-chevron-right"></i>Accessories </a></li>
		  <li><a href="#Electronics"><i class="icon-chevron-right"></i>Electronics</a></li>
		  <li><a href="#FirstAid"><i class="icon-chevron-right"></i>FirstAid</a></li>
		</ul>

	</div> 
	<div class="span9 well">	
		<div class="well">
			<p><b>Note:</b> I'll have more detail and reviews when I get back from Georgia.</p>
		</div>			

		<section id='Summary'>
		<div class="page-header">
			<h3>Gear Summary<small> Click on graphic for higher resolution</small></h3>
			
			<a href="https://www.dropbox.com/s/np3te2de42ddx6r/gear.JPG?dl=1"><img src="https://www.dropbox.com/s/np3te2de42ddx6r/gear.JPG?dl=1" alt=""></a>
			
		</div>

		</section>

		
		<section id='Backpack'>
		<div class="page-header">
			<h3>Backpacks <small> Ultralight pack and dog pack</small></h3>
		</div>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">		
		</section>

		<section id='SleepingGear'>
		<div class="page-header">
			<h3>SleepingGear <small> Sleeping bag and pad, pillow</small></h3>
		</div>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">		
		</section>

		<section id='Shelter'>
		<div class="page-header">
			<h3>Shelter<small> Tent, tarp, or hammock</small></h3>
		</div>	
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Clothing'>
		<div class="page-header">
			<h3>Clothing <small>Base-Layer, jacket, rain gear </small></h3>
		</div>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Food'>
		<div class="page-header">
			<h3>Food <small> Pot, stove, lighter</small></h3>
		</div>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Shoes'>
		<div class="page-header">
			<h3>Shoes <small>Hiking and/or Camping</small></h3>
		</div>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Accessories'>
		<div class="page-header">
			<h3>Accessories <small>Journal, umbrella</small></h3>
		</div>
		    <img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Electronics'>
		<div class="page-header">
			<h3>Electronics <small>Phone, charger</small></h3>
		</div>
		    <img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='FirstAid'>
		<div class="page-header">
			<h3>FirstAid <small>Bandages</small></h3>
		</div>
		    <img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>
	</div>
</div>
</body>

{% endblock %}

