{% extends 'base.html' %}
{% block head %}<title>AT Jindo - Gear</title>{% endblock %}
{% block content %}
 
<body data-spy="scroll" data-target=".bs-docs-sidebar">
		
<div  class="row-fluid">
<div class="span2 offset2 bs-docs-sidebar">
		<!--side nav lists -->
		<ul class="nav nav-list bs-docs-sidenav affix">	
		  <li><a href="#Summary"><i class="icon-chevron-right"></i>Summary</a></li>	
		  <li><a href="#Backpack"><i class="icon-chevron-right"></i>Backpack</a></li>	
		  <li><a href="#SleepingGear"><i class="icon-chevron-right"></i>SleepingGear</a></li>
		  <li><a href="#Shelter"><i class="icon-chevron-right"></i>Shelters</a></li>
		  <li><a href="#Clothing"><i class="icon-chevron-right"></i>Clothing</a></li>
		  <li><a href="#Food"><i class="icon-chevron-right"></i>Food</a></li>
		  <li><a href="#WaterFiltration"><i class="icon-chevron-right"></i>WaterFiltration</a></li>
		  <li><a href="#Shoes"><i class="icon-chevron-right"></i>Shoes</a></li>
		  <li><a href="#Accessories"><i class="icon-chevron-right"></i>Accessories </a></li>
		  <li><a href="#Electronics"><i class="icon-chevron-right"></i>Electronics</a></li>
		  <li><a href="#FirstAid"><i class="icon-chevron-right"></i>FirstAid</a></li>
		</ul>

	</div> 
	<div class="span6 well">			

		<section id='Summary'>
		<div class="page-header">
			<h3>Gear Summary<small> Click on graphic for higher resolution</small></h3>			
			<a href="https://www.dropbox.com/s/np3te2de42ddx6r/gear.JPG?dl=1"><img src="https://www.dropbox.com/s/np3te2de42ddx6r/gear.JPG?dl=1" alt=""></a>			
		</div>

		</section>

		
		<section id='Backpack'>
		<div class="page-header">
			<h3>Backpacks <small> backpack and dog pack</small></h3>
		</div>
			<h5>GoLite Jam50 (size M) and pack cover</h5>
			<p><img src="https://www.dropbox.com/s/382zsrrsknsg2nd/backpack1.jpg?dl=1" alt=""></p>
			<p><b>Pros:</b>  Ligthweight, durable, simple, yet functional design. Everything you need, minus all the clutter/excessive pockets. $110 retail price; comparable to other light-weight backpacks in the $200-$300 range. Held up for 5 months with no significant issues. Pack cover to keep gear dry.</p>
			
			<p><b>Cons:</b>  Uncomfortable when >25 pounds. Side mesh pockets can tear form tree branches and thick brush. Bring a small sewing kit. </p>
			<p><b> Bottom Line:</b>  Highly recommend. The size and design keeps the weight down by making you think about what gear you really need. For thru-hiking, bigger bags don't do this. There are only two pockets. I kept the tent in outside pocket: easy to set up first and pack last. Also recommend stuffing the tent as opposed to folding.</b></p>		
			<br>
			<h5>Mountainsmith Dog Pack (size M)</h5>
			<p><img src="https://www.dropbox.com/s/ctenz4igk4rshz1/dog_pack.jpg?dl=1" alt=""></p>	
			<p><b>Pros:</b>  Durable, cool design. Nara would carry up to 3 pounds. Dog Pack helped Nara focus on staying on the trail.</p>
			
			<p><b>Cons:</b>  On longer mile days (20+), Nara would chaff under her front armpits. I tried adjusting straps, but it continued, so I decided to ditch the dog pack in Virginia. </p>
			<p><b> Bottom Line:</b>  For us, the backpack ended up creating more problems than it solved. Since Nara isn't a large dog, I decided to carry her food (max 5 lbs). If you have a large dog, you'll likely need a dog pack. Make sure to watch for chaffing.</b></p>		
		</section>

		<section id='SleepingGear'>
		<div class="page-header">
			<h3>SleepingGear <small> Sleeping bag and pad, pillow</small></h3>
		</div>
			<h5>Western Mountaineering Sycamore (size Regular)</h5>
			<p><img src="https://www.dropbox.com/s/hfzgcq1n1gyobgz/sleepingbag1.jpg?dl=1" alt=""></p>
			<p><b>Pros:</b>  Cozy, 25 degree bag, and relatively light (2 lbs). Also unzips around foot area, so you can convert in to a comforter.</p>			
			<p><b>Cons:</b>  Pricey and almost too warm for most of the trip. </p>
			<p><b> Bottom Line:</b>  Some thru-hikers use two sleeping bags: summer bag during the middle months and winter bag in early spring or late fall. I just stuck with one.  When it was too hot, I'd unzip the bag completely and use as a comforter. </b></p>	
			<br>
			<h5>Pillow and Sleeping pad</h5>
			<p><img src="https://www.dropbox.com/s/ctd7rwaprmx8elw/sleeping_gear.jpg?dl=1" alt=""></p>
			<p><b>Therma-a-Rest Trekker Pillow Case</b></p>
			<p><b>Pros:</b> Durable, yet soft light-weight polyester pillow for added comfort. Doubles as a bag for all my clothes sans rain jacket.</p>			
			<p><b>Cons:</b>  No real issues. Rarely, a clothing item would work its way out of the case at night. </p>
			<p><b> Bottom Line:</b> Any stuff sack or bundle of clothes would work as a pillow, but the Therm-a-Rest pillow is a nice luxury item.  </b></p>	

			<p><b>NeoAir XLite SLeeping Pad (size Regular)</b></p>
			<p><b>Pros:</b>  Comfortable, light (12 oz), packs small. Can sleep comfortably in any position.</p>		
			<p><b>Cons:</b>  Have to blow it up every night, and deflate and roll up every morning.  Additional chores compared to using a foam pad. </p>
			<p><b> Bottom Line:</b>  Unless you're going for a speed record and want to reduce chores, I'd recommend getting an inflatable pad. I experimented with foam pad and realized I sleep much better with the NeoAir. </b></p>	

			




		</section>
			
		</section>

		<section id='Shelter'>
		<div class="page-header">
			<h3>Shelter<small> Tent, tarp, or hammock</small></h3>
		</div>	
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Clothing'>
		<div class="page-header">
			<h3>Clothing <small>Base-Layer, rain gear, winter gear </small></h3>
		</div>
			<img src="https://www.dropbox.com/s/bzlpb6nqdgnnkx0/clothes4.jpg?dl=1" alt="">
			<p></p>
	
		</section>

		<section id='Food'>
		<div class="page-header">
			<h3>Food <small> Pot, stove, food bag</small></h3>
		</div>
			<img src="https://www.dropbox.com/s/6k0kx657jy92r8t/pot.jpg?dl=1" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='WaterFiltration'>
		<div class="page-header">
			<h3>WaterFiltration <small> Filter, chemicals</small></h3>
		</div>
			<img src="https://www.dropbox.com/s/b6atgbj4ki57jxf/water1.jpg?dl=1" alt="">
			<p></p>
			<img src="https://www.dropbox.com/s/4mexi7amrrisb1e/water2.jpg?dl=1" alt="">
			<p></p>
	
		</section>

		<section id='Shoes'>
		<div class="page-header">
			<h3>Shoes <small>Hiking and/or Camping</small></h3>
		</div>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Accessories'>
		<div class="page-header">
			<h3>Accessories <small>Journal, umbrella</small></h3>
		</div>
		    <img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='Electronics'>
		<div class="page-header">
			<h3>Electronics <small>Phone, charger</small></h3>
		</div>
		    <img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>

		<section id='FirstAid'>
		<div class="page-header">
			<h3>FirstAid <small>Bandages</small></h3>
		</div>
		    <img src="https://www.dropbox.com/s/gtl8rbq4i1u86ql/firstaid.jpg?dl=1" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
			<p></p>
			<img src="http://placehold.it/300x300" alt="">
		</section>
	</div>
</div>
</body>

{% endblock %}

