{% extends 'base.html' %}
{% block head %}<title>AT Jindo - Links</title>{% endblock %}
{% block content %}
<br>
<div class="row-fluid">
	<div class="span8 offset2 well">
    <h3>Online Resources</h3> 
    	 <p><a href="http://www.reddit.com/r/AppalachianTrail/" target="_blank">Appalachian Trail subreddit</a>: Active thread with lots of users</p>        
        <p><a href="http://www.appalachiantrail.org/hiking/hiking-basics" target="_blank">AT Conservancy</a>:  Good hiking basics</p>
         <p><a href="http://www.atraillife.com/index.html" target="_blank">Atraillife</a>:  Great blog posts on long-distance hiking with a dog</p>
        <p><a href="http://www.youtube.com/user/Biophthera" target="_blank">Biophthera</a>:  Great backpacking tips and gear reviews </p>
      
        <p><a href="http://www.hikelight.com" target="_blank">HikeLight</a>:  Great tips to ligthen your load</p>
        <p><a href="http://whiteblaze.net/forum/content.php" target="_blank">WhiteBlaze</a>: Active forum with lots of information</p>

        <br>
        <b>Backpacking Clinic:</b>
        <div class="embed-container"><iframe width="560" height="315"  src="//www.youtube.com/embed/FGQTcQhL08A" frameborder="0" allowfullscreen></iframe></div> 
     </div>  

</div>            
{% endblock %}