<!--page for postings (filtered by state)-->

{% extends 'base.html' %}
{% set active_page = state %} <!-- create new variable for nav bar active class -->
{% block head %}<title>AT Jindo - {{state}}</title>{% endblock %}   
{% block content %}

<!-- state navbar -->
      <div class="navbar">
        <div class="navbar-inner">
          {% set navigation_bar = [
              ('/blog/XX', 'XX', 'Prep'),
              ('/blog/ME', 'ME', 'ME'),
              ('/blog/NH', 'NH', 'NH'),
              ('/blog/VT','VT','VT'),
              ('/blog/MA','MA','MA'),
              ('/blog/CT','CT','CT'),
              ('/blog/NY','NY','NY'),
              ('/blog/NJ','NJ','NJ'),
              ('/blog/PA','PA','PA'),
              ('/blog/MD','MD','MD'),
              ('/blog/WV','WV','WV'),
              ('/blog/NoVa','NoVa','NoVa'),
              ('/blog/SoVa','SoVa','SoVa'),
              ('/blog/TN','TN','TN'),
              ('/blog/NC','NC','NC'),
              ('/blog/GA','GA','GA'),
              ('/blog/finish','finish','PostHike')
          ] %}

          {% set active_page = active_page|default('/') %}
          
          <ul class="nav">           
          {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif
            %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>

  <div class="row-fluid">
     <!-- blog column -->  
    <div class="span6 offset3">   
     {% if count == 0 %}
      <div class="well"><p>Sorry, no posts in this state yet.</p></div>
     {% endif %}

     {% if lang == 'ko' %}  
        {% for p in posts %}
        <div class="well">
            {{ p.render_ko() | safe }}          
        </div>
        {% endfor %}
      {% else %}
        {% for p in posts %}
        <div class="well">
            {{ p.render() | safe }}          
        </div>
        {% endfor %}
      {% endif %}


    </div>         
  </div>  


{% endblock %}   


